html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*{
  font-family: Arial, Helvetica, sans-serif; 
  
}

body {
  margin: 10px;
  padding: 10px;
}
main{
  /*background-color: #ccd0d3;*/
  height: 1000px;
  width: auto;

}
main img{
  display:flex;
  justify-content:center;
}
form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hab1{
  background-image: url("../img/fondo60.jpg");
  background-size: cover;
  text-align: center; 
   
}  

.hab1 p,.hab1 h1, .hab1 form
{
  background-color: #e9ecefd2;
  margin-left: 35%; 
  margin-right: 35%;
  
}

.hab1 img { 
  margin-left: 600px; 
  margin-right: 100px;
  display:flex;
  justify-content: center; 
}

.hab2{
  background-image: url("../img/fondo70.png");
  background-size: cover;
  text-align: center; 
  color:#ffffff;
  font-size: 160%;
   
}
.hab2 section{
  display :flex;
  float: left;
  justify-content: space-between;
  width:100%;
  text-align: center;
}
.hab2 section div{
  display :flex;
  flex-direction: column;
  justify-content: space-between;
  width:18%;
  background-color: #e9ecefab;
  text-align: center;
}      
.hab2 img 
{
  width: 80%; 
  height: auto;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.hab2 form{
  clear: both;
}
.hab2 h4{
  
}

.lineup{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: auto;
}
iframe{
  clear:both;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
}
footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

