@{
    ViewData["Title"] = "Creditos";
}
<main class = "creditos"> 
<img src="~/img/logo.png" class= "logo">
<h1>CREDITOS</h1>
<h3>Sala de escape creada por Renata Minuchin y Luciana Dominguez</h3>
<h4>Informática 2024</h4>

<button><a href = '@Url.Action("Index")' >Home</a>  </button>
</main>