@{
    ViewData["Title"] = "Creditos";
}
<main class = "creditos"> 
<h1>CREDITOS</h1>
<video width="100%" height="auto" autoplay muted>
        <source src="~/creditos.mov" type="video/mp4">
    
    </video>

<button><a href = '@Url.Action("Index")' >Home</a>  </button>
</main>