@{
    ViewData["Title"] = "Habitación 2";
}
<head>
    <meta charset="utf-8" />
    <title>hab2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      
    </header>
    <main class="hab2">
        <h1>Años 70' </h1>
        <p>Estás atrapado en los años 70!! Ordená los vinilos por su orden de pubicación.Suerte!!</p>
        <section>
          <div>
            <img src="~/img/vinilo4.png">
            <h4>1</h4>
          </div>
          <div>
            <img src="~/img/vinilo2.jpg">
            <h4>2</h4>
          </div>
          <div>
            <img src="~/img/vinilo1.png">
            <h4>3</h4>
          </div>
          <div>
            <img src="~/img/vinilo3.png">
            <h4>4</h4>
          </div>
          <div>
            <img src="~/img/vinilo5.png">
            <h4>5</h4>
          </div>
        </section>
        <form Action = '@Url.Action("Habitacion")'> 
          <label for="fname">¿Cuál es el orden?</label><br>
         <input type = "text" id="clave" name = "clave"><br>  
         <input type = "submit" value = "Submit"> Checkear clave <br>
          <input type="hidden" id="sala" name="sala" value="2">
        </form>

        <div class= "botonH2">
            <button type="button" class="btn btn-secondary"
                data-bs-toggle="popover" data-bs-placement="right"
                data-bs-custom-class="custom-popover"
                data-bs-title="Pista 1"
                data-bs-content="Los vinilos argentinos son consecutivos(uno va al lado del otro)">
                PISTA 1
            </button>
       
            <button type="button" class="btn btn-secondary"
                data-bs-toggle="popover" data-bs-placement="right"
                data-bs-custom-class="custom-popover"
                data-bs-title="Pista 2"
                data-bs-content="Ya hay dos discos bien ubicados.">
                PISTA 2
            </button>
        </div>
         
        <h1>@ViewBag.Error<h1>
    </main>
  </body>