@{
    ViewData["Title"] = "Habitación 2";
}
<head>
    <meta charset="utf-8" />
    <title>hab2</title>
  </head>
  <body>
    <header>
      
    </header>
    <main class="hab2">
        <h1>Años 70' </h1>
        <p>Estás atrapado en los años 70!! Ordená los vinilos por su orden de pubicación.Suerte!!</p>
        <section>
          <div>
            <img src="~/img/vinilo4.png">
            <h4>1</h4>
          </div>
          <div></div>
        </section>
        <form Action = '@Url.Action("Habitacion")'> 
          <label for="fname">¿Cuál es el orden?</label><br>
         <input type = "text" id="clave" name = "clave"><br>  
         <input type = "submit" value = "Submit"> Checkear clave <br>
          <input type="hidden" id="sala" name="sala" value="2">
        </form>
        <h1>@ViewBag.Error<h1>
    </main>
  </body>