@{
    ViewData["Title"] = "Habitación 6";
}
<head>
    <meta charset="utf-8" />
    <title>hab6</title>
  </head>
  <body>
    <header>
      <h1>Años 10' </h1>
    </header>
    <main>
        <p>Estás atrapado en los años 2010!! desc Suerte!!</p>
         <section>
            <div class = "lineup">
              <img src="~/img/lolla2014">
              <h2>A</h2>
            </div>
            <div class="lineup">
              <img src="~/img/lolla2015">
              <h2>B</h2>
            </div>
            <div class = "lineup">
              <img src="~/img/lolla2016">
              <h2>C</h2>
            </div>
            <div class="lineup">
              <img src="~/img/lolla2017">
              <h2>D</h2>
            </div>
            <div class = "lineup">
              <img src="~/img/lolla2018">
              <h2>E</h2>
            </div>
            <div class= "lineup">
              <img src="~/img/lolla2019">
              <h2>F</h2>
            </div>
            <div class="lineup">
              <img src="~/img/lolla2022">
              <h2>G</h2>
            </div>
            <div class = "lineup">
              <img src="~/img/lolla2023">
              <h2>H</h2>
            </div>
         </section>
         <img src="wwwroot/img/Letra_H1">
        <form Action = '@Url.Action("Habitacion")'> 
          <label for="fname">¿Cuál es el orden?</label><br>
         <input type = "text"><br> 
         <input type = "submit" value = "Submit"> Checkear clave <br>
          <input type="hidden" id="sala" name="sala" value="6">
        </form>
        <h1>@ViewBag.Error<h1>

    </main>
  </body>