@{
    ViewData["Title"] = "Habitación 5";
}
<head>
    <meta charset="utf-8" />
    <title>hab5</title>
  </head>
  <body>
    <header>
      <h1>Años 2000 </h1>
    </header>
    <main class = "hab5">
        <p>Llegaste a la habitación 2000, ya estás cerca de volver a la actualidad! Para poder salir, tenés que investigar y descifrar a qué icono de la música pop le pertenece el cuarto. Suerte!!</p>
        <div class="divinvisible1">
          <img src="~/img/britney1.png">
        </div>
        <div class="divinvisible2">
          <img src="~/img/britney2.png">
        </div>
        <div class="divinvisible3">
          <img src="~/img/britney3.jpg">
        </div>
        <div class="divinvisible4">
          <img src="~/img/britney4.jpg">
        </div>
        <form Action = '@Url.Action("Habitacion")'> 
          <label for="fname">¿De quién se trata?</label><br>
         <input type = "text"  id="clave" name="clave"><br> 
         <input type = "submit" value = "Submit"> Checkear clave <br>
          <input type="hidden" id="sala" name="sala" value="5">
        </form>
        <h1>@ViewBag.Error<h1>
    </main>
  </body>