@{
    ViewData["Title"] = "Index";
    
}  

<head>  
</head> 
<body> 
<main class = "index">
<img src="~/img/logo.png" class= "logo">
<section class="index1"> 
    <div>
   <button><a href = '@Url.Action("Tutorial")' >Tutorial</a></button>
   <button><a href = '@Url.Action("Comenzar")' >Comenzar!!!</a> </button>
   <button><a href = '@Url.Action("Creditos")' >Créditos</a></button>
    </div>
    <div>
    <h1>Bienvenidos a la sala de escape "Retro Rockola"</h1>  
    </div> 
    
    <div class = "imgIndex">
    <img src="~/img/index1.png">
    <img src="~/img/index2.png">
    </div>
    
    
</section>
    
</main>
</body>



