@{
    ViewData["Title"] = "Index";
}  

<head> 
</head> 
<body> 
<head> 
</head> 
<main class = "index">
<section> 
     
    <div>
    <h1>Bienvenidos a la sala de escape "Retro Rockola"</h1>  
    </div> 
    <div> 
    <button><a href = '@Url.Action("Comenzar")' >Comenzar!!!</a> </button>
    
   <button><a href = '@Url.Action("Tutorial")' >Tutorial</a></button>

   <button><a href = '@Url.Action("Creditos")' >Créditos</a></button>
   
    </div>
    
</section>    
</main>
</body>



