@{
    ViewData["Title"] = "Tutorial";
} 
<main class = "tutorial">
<div>
<h3>¡Bienvenido a la Sala de Escape - Retro Rockola!</h3>   
</div> 
<div>
<h1>Instrucciones del Juego</h1>
 </div>
 <div>
<p>Estás atrapado en una rockola mágica que te transportará a través de las décadas musicales, desde los años 60 hasta los 2010. Para escapar, 
    debes completar una serie de desafíos. Cada desafío incluye ordenar cronológicamente eventos, 
    canciones o artistas icónicos de cada década, adivinar el artista de la música que escuchas, identificar la habitación del artista y 
    completar letras de canciones.
</p> 
</div>
<div>
<p><b>Objetivo del Juego</b></p> 
</div>
<div>
<p>Supera todos los desafíos de cada década para avanzar a la siguiente y escapar de la rockola dentro del tiempo establecido.</p>   
</div>
<div>
<p><b>Reglas del Juego </b></p>  
</div>
<div>
<p>Inicio: Al comenzar el juego, serás transportado a la primera década (los años 60).</p> 
</div>
<div>
<p>Desafíos en Cada Década:</p> 
<ul>
    <li>Orden Cronológico: Se te presentarán eventos, canciones o artistas que debes ordenar cronológicamente arrastrándolos a las posiciones correctas.</li> 
    <li>Adivina el Artista: Escucha la música de fondo y adivina el artista de la canción.</li> 
    <li>Identifica la Habitación del Artista: Se te mostrarán pistas y debes identificar a qué artista pertenece cada habitación.</li>
    <li>Completa la Letra: Se te dará una parte de la letra de una canción y deberás completarla correctamente.</li>
</ul> 
</div>
<div class = "imgTutorial">
    <img src="~/img/tutorial1.png">
    <img src="~/img/Letra_H1.jpg">
    <img src="~/img/tutorial2.png">
</div>
<div>
<p>Música de Fondo: Cada década contará con música de fondo característica para ayudarte a sumergirte en la época.</p>
</div>
<div>
<p>Progreso: Al completar correctamente todos los desafíos de una década, pasarás automáticamente a la siguiente. Si fallas, podrás intentarlo nuevamente.</p>
</div>
<div>
<p><b>Consejos</b></p> 
<ul>
    <li>Utiliza ariculares para escuchar mejor</li>
    <li>No te apresures; asegúrate de ordenar los elementos y completar los desafíos con cuidado.</li>
    <li>Usa tu conocimiento sobre la historia de la música y las letras de las canciones para ayudarte a superar los desafíos.</li>
</ul> 
</div>

<div>
<h3>MUCHOS EXITOS!!</h3>
<button><a href = '@Url.Action("Index")' >Home</a>  </button>
</div>
</main>