@{
    ViewData["Title"] = "Victoria";
}
<main class = "victoria">
<img src="~/img/logo.png" class= "logo"> 
<h1>FELICIDADES! LOGRASTE ESCAPAR DE LA ROCKOLA Y VOLVER A LA ACTUALIDAD!</h1> 
<h3>Resolviste todos los acertijos y escapaste con éxito, esperamos que hayas disfrutado de nuestra sala!</h3>

<button><a href = '@Url.Action("Creditos")' >Créditos</a></button>
<button><a href = '@Url.Action("Index")' >Home</a>  </button>
</main>